<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/style/style.css">
    <link rel="stylesheet" href="./assets/style/style_cards.css">
    <link rel="stylesheet" href="./assets/style/style_createCard.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <title>Tus Cuentas</title>
</head>

<body>
    <div id="app">
        <div class="portadaCards d-flex align-items-center ">
            <div class="container d-flex justify-content-center align-items-center portadaCards">
                <h1 class="text-white fs-6 titulo p-3">YOUR BANK</h1>
            </div>

        </div>
        <div class="container bg-white">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><i class="fa-solid fa-building-columns me-4"></i>MY CARDS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="./home.html">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./accounts.html">ACCOUNT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">MY CARDS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./transfers.html">TRANSFER</a>
                            </li>


                        </ul>
                        <button class="nav-link  btn btn-danger text-white pt-2 pb-2 ps-3 pe-3 fw-semibold " aria-current="page" v-on:click="cerrarSesion">LOGOUT</button>

                    </div>
                </div>
            </nav>
        </div>
        
        <div class="container-main pt-4 pb-4 "style="min-height: 50vh;">
           <div>
            
            <div class="fondoCreate">
                <h3 class="text-center mb-5">CARD THE TYPE</h3>
                <div class="d-flex container gap-4 mb-5" >
                    <input value="DEBITO" type="radio" class="btn-check  " name="cardType" id="idebito" autocomplete="off" checked v-model="checkedType">
                    <label class="btn btn-outline-personalizable  flex-grow-1" for="idebito">Card Debito</label>
                    <input value="CREDITO" type="radio" class="btn-check " name="cardType" id="icredito" autocomplete="off" checked v-model="checkedType">
                    <label class="btn btn-outline-personalizable   flex-grow-1" for="icredito">Card Credito</label>

                </div>
                <h3 class="text-center mt-5 mb-5">CARD THE COLOR</h3>
                <div class="d-flex container gap-4 flex-column flex-sm-row">
                    <input value="GOLD" type="radio" class="btn-check" name="cardColor" id="iGold" autocomplete="off" checked v-model="checkedColor">
                    <label class="btn btn-outline-personalizable flex-grow-1" for="iGold">Color Gold</label>
                    <input value="TITANIUM" type="radio" class="btn-check" name="cardColor" id="iTitanium" autocomplete="off" checked v-model="checkedColor">
                    <label class="btn btn-outline-personalizable flex-grow-1" for="iTitanium">Color Titanium</label>
                    <input value="SILVER" type="radio" class="btn-check" name="cardColor" id="iSilver" autocomplete="off" checked v-model="checkedColor">
                    <label class="btn btn-outline-personalizable flex-grow-1" for="iSilver">Color Silver</label>
                </div>
                <div class="d-flex container mt-5">
                    <button type="button" class="btn btn-dark flex-grow-1 pt-3 pb-3 letra-create" v-on:click="crearCard">Create Card  {{checkedType}}-{{checkedColor}}</button>
                </div>
                

            </div>
            

            
           </div>
        </div>
        
           



    </div>
    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <script src="./create-cards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    


</body>

</html>